@page "/functions/audioMenu/volumeControl"
@using Amusoft.PCR.Server.Dependencies
@inject IUserContextChannel _userContextChannel

<Title Headline="Volumecontrol" WindowTitle="Volumecontrol"></Title>

<Button OnClick="(() => _userContextChannel.ToggleMute())">Toggle mute</Button>
<h5 class="mt-3">Master volume: @_desiredMasterVolume</h5>
<div>
	<LabeledRange MinValue="0" MaxValue="100" Step="1" Value="_desiredMasterVolume" ValueChanged="OnMasterVolumeChanged"></LabeledRange>
</div>

@code {
	private int _desiredMasterVolume;

	private async Task OnMasterVolumeChanged(int value)
	{
		_desiredMasterVolume = value;
		await _userContextChannel.SetMasterVolume(_desiredMasterVolume);
	}

	protected override async Task OnInitializedAsync()
	{
		_desiredMasterVolume = await _userContextChannel.GetMasterVolume();
		await base.OnInitializedAsync();
	}

}
