$dark: #444;
$light: #CCC;

$primary: darken(#ff6a00, 10%);
$secondary: darken($primary, 10%);
$body-bg: darken($dark, 10%);
$body-color: #ccc;
$alternate: #f00;

$component-active-bg : $primary;

//$accordion-button-active-bg: tint-color($component-active-bg, 90%);
$accordion-button-active-bg: darken($primary, 10%);
$accordion-button-active-color: shade-color($primary, 10%);
$accordion-item-border-color: rgba($primary, 0.2);

.accordion-item {
	border: 1px solid $accordion-item-border-color !important;
}