$primary-bg-dark : #222;
$primary-bg-light: #444;

html, body {
	height: 100%;
	margin: 0;
	padding: 0;
}

body {
	app {
		height: 100%;
		background-color: $primary-bg-dark;
	}
}

h1, h2, h3, h4, h5, h6, div, p {
	color: #ddd;
}

.content {
	height: calc(100% - 3.5rem);
	overflow: auto;
}

.main {
	background-color: $primary-bg-dark;

	.top-row {
		background-color: $primary-bg-light;
		border-bottom: 1px solid orange;
	}

	a span.oi {
		width: 20px;
	}

	a span.oi-badge {
		width: auto;
		margin: 0 6px;
	}

	> .content {

		> .container {
			margin-left: 0;
			margin-right: 0;
			max-width: 100%;
		}
	}
}

.sidebar {
	background-image: none;
	background-color: $primary-bg-light;

	.top-row {
		background-color: $primary-bg-light;
	}
}


form > .container {
	margin : 0;
}

.navbar-brand {
	> img {
		width: 2rem;
		height: 2rem;
		margin-right: 0.5rem;
	}
}


@media (max-width: 768px) {
	.navbar {
		padding-right: 1.5rem;
	}

	.top-row.auth {
		height: 3rem;
	}

	.content {
		height: calc(100% - 3.0rem)
	}
}
