@page "/functions"
@using Amusoft.PCR.Server.Dependencies
@using Amusoft.PCR.Grpc.Common
@inject NavigationManager _navigationManager
@inject IDialogService _dialogService
@inject IInteropService _interopService
@attribute [Authorize(Roles = "functions")]

<Title Headline="Functions" WindowTitle="Functions"></Title>

<div class="container">

	<div class="row mb-3 mb-xl-2">
		<Button CssClass="d-inline-block col-xl-4" OnClick="@(() => _navigationManager.NavigateTo("/functions/activeWindowMenu"))">Active window control</Button>
	</div>
	<div class="row mb-3 mb-xl-2">
		<Button CssClass="d-inline-block col-xl-4" OnClick="@(() => _navigationManager.NavigateTo("/functions/processMenu"))">Process control</Button>
	</div>
	<div class="row mb-3 mb-xl-2">
		<Button CssClass="d-inline-block col-xl-4" OnClick="@(() => _navigationManager.NavigateTo("/functions/audioMenu"))">Audio control</Button>
	</div>
	<div class="row mb-3 mb-xl-2">
		<Button CssClass="d-inline-block col-xl-4" OnClick="@(() => _navigationManager.NavigateTo("/functions/computerMenu"))">Computer control</Button>
	</div>
</div>