<div class="accordion @(FlushLayout ? "accordion-flush" : String.Empty)" id="@AccordionId">
	<CascadingValue Value="this">
		@ChildContent
	</CascadingValue>
</div>

@code {

	[Parameter]
	public RenderFragment ChildContent { get; set; }

	[Parameter]
	public string AccordionId { get; set; }

	[Parameter]
	public bool MultipleOpen { get; set; }

	[Parameter]
	public bool FlushLayout { get; set; }

	private readonly List<AccordionElement> ChildElements = new();

	public void AddElement(AccordionElement accordionElement)
	{
		ChildElements.Add(accordionElement);
	}

	public string GetElementId(AccordionElement accordionElement)
	{
		var index = ChildElements.FindIndex(d => d.Equals(accordionElement));
		return $"{AccordionId}-{index}";
	}

}
