<div class="component-loading" style="@Style">
	<div class="dot"></div>
	<div class="dot"></div>
	<div class="dot"></div>
	<div class="dot"></div>
	<div class="dot"></div>
</div>

@code {

	public string Style { get; set; }

	[Parameter]
	public bool Visible { get; set; } = true;

	private void UpdateStyle()
	{
		Style = Visible ? string.Empty : "display: none;";
	}

	/// <inheritdoc />
	protected override void OnInitialized()
	{
		UpdateStyle();
	}

	protected override void OnParametersSet()
	{
		base.OnParametersSet();
		UpdateStyle();
	}

}
