@using Microsoft.JSInterop
@inject IJSRuntime JsRuntime
@namespace Amusoft.PCR.Blazor.Components

<div class="my-component" @onclick="@(d => Test(DateTime.Now))">
	This Blazor component is defined in the <strong>Amusoft.PCR.Components.Blazor</strong> package.
</div>
