<div class="form-group">
	<input type="text" class="form-control" 
	       @bind-value="@ValueInternal" 
	       @bind-value:event="oninput" placeholder="@Placeholder"/>
</div>

@code {

	[Parameter]
	public string Value
	{
		get => ValueInternal;
		set => ValueInternal = value;
	}

	[Parameter]
	public EventCallback<string> ValueChanged { get; set; }

	private string _valueInternal;

	private string ValueInternal
	{
		get { return _valueInternal; }
		set
		{
			if (EqualityComparer<string>.Default.Equals(_valueInternal, value))
				return;
			_valueInternal = value;
			ValueChanged.InvokeAsync(value);
		}
	}

	[Parameter]
	public string Placeholder { get; set; }
}