@using Microsoft.JSInterop
<h3>@Headline</h3>

@code {
	[Inject]
	public IJSRuntime JsRuntime { get; set; }

	[Parameter]
	public string Headline { get; set; }

	[Parameter]
	public string WindowTitle { get; set; }

	/// <inheritdoc />
	protected override void OnParametersSet()
	{
		if(WindowTitle != null)
			JsRuntime.Page().SetTitle(WindowTitle);
	}
}
