/*
    This file is to show how CSS and other static resources (such as images) can be
    used from a library project/package.
*/

.my-component {
	border: 2px dashed red;
	padding: 1em;
	margin: 1em 0;
	background-image: url('background.png');
}

.tooltip-wrapper {
	position: relative;
	display: inline-block;
	border-bottom: 1px dotted black;
	cursor: help;
}

.tooltip-wrapper span {
	visibility: hidden;
	position: absolute;
	width: 120px;
	bottom: 100%;
	left: 50%;
	margin-left: -60px;
	background-color: #363636;
	color: #fff;
	text-align: center;
	padding: 5px 0;
	border-radius: 6px;
	z-index: 1;
}

.tooltip-wrapper span::after {
	content: "";
	position: absolute;
	top: 100%;
	left: 50%;
	margin-left: -5px;
	border-width: 5px;
	border-style: solid;
	border-color: #555 transparent transparent transparent;
}

.tooltip-wrapper:hover span {
	 visibility: visible;
}