@page "/permissions/create"
@using System.ComponentModel.DataAnnotations
@using Amusoft.PCR.Blazor.Services
@using Amusoft.PCR.Server.Dependencies
<EditForm Model="Model">
	<DataAnnotationsValidator />
	<Title Headline="New permission" WindowTitle="New permission"></Title>
	<ValidationSummary />
	<TextBox Placeholder="Name" @bind-Value="Model.Name"></TextBox>
	<Button Primary="true" OnClick="OnSave">Save</Button>
	<ModalDialog @ref="Test" @bind-Visible="@ModalVisible" CloseOnModalFrameClick="HideOnWrapperClick">
		<div>
			hello this is just some content
			<input type="checkbox" @bind="ModalVisible" />
		</div>
	</ModalDialog>
	<Button Primary="true" OnClick="() => Test.Show()">Display Dialog</Button>

	<label> Modal Visible: <input type="checkbox" @bind="ModalVisible" /></label>
	<label> HideOnWrapperClick Visible: <input type="checkbox" @bind="HideOnWrapperClick" /></label>

</EditForm>

@code {

	public class DataModel
	{
		[Required]
		public string Name { get; set; }
	}

	public bool ModalVisible { get; set; }

	public bool HideOnWrapperClick { get; set; }

	public ModalDialog Test { get; set; }

	[Inject]
	public NavigationManager NavigationManager { get; set; }

	[Inject]
	public IValidationService ValidationService { get; set; }

	[Inject]
	public IDialogService DialogService { get; set; }

	public DataModel Model { get; set; } = new DataModel();

	private void OnSave(MouseEventArgs obj)
	{
		if (ValidationService.TryValidate(Model, out var errors))
		{
			NavigationManager.NavigateTo("permissions/overview");
		}
		else
		{
			DialogService.Error("Please fix errors before saving the permission.");
		}
	}
}