@page "/"
@inject NavigationManager navigationManager
@using Amusoft.PCR.Blazor.Extensions


<h1>PC Remote Controller 2</h1>
<Button OnClick="@(() => navigationManager.NavigateTo("functions"))">Go to functions</Button>


@code
{
}
