@page "/"
@inject NavigationManager navigationManager
@using Amusoft.PCR.Blazor.Extensions


<Title WindowTitle="PC Remote Controller 2" Headline="PC Remote Controller 2"></Title>
<Button CssClass="d-inline-block col-xl-4" OnClick="@(() => navigationManager.NavigateTo("functions"))">Go to functions</Button>

@code
{
}
